<div id="using_chat">
    <div class="content">
      <div class="redeem_heading_bg">
        <div class="redeem_heading_text">
          <%=image_tag "sub_using_group_chat.png" %>
        </div>
      </div>      
      <p>
      If you have been invited to a group, just reply to the message to join the group and access the offer.</p>
      <p>
        Any SMS message you send to the Group Chat number is automatically delivered to the entire group
      </p>
      <div class="sub_heading">
        Commands
      </div>
      <p>
        You can send instructions to the group chat number by sending a special text with # followed by the name of the command.
      </p>
      <div class="instructions">
        <div class="command_name">#info</div>
        <div class="command_description">Get a list of the people currently in your group</div>
        <div class="clear"></div>

        <div class="command_name">#help</div>
        <div class="command_description">Get a copy of this list of commands</div>
        <div class="clear"></div>


        <div class="command_name">#invite</div>
        <div class="command_description">Invite someone to join your group <br/>
                            usage: #invite John 07111 111 111</div>
        <div class="clear"></div>

        <div class="command_name">#join</div>
        <div class="command_description">Accept an invitation to join a group (you can also just reply to the invitation text)</div>
        <div class="clear"></div>

        <div class="command_name">#leave</div>
        <div class="command_description">Stop receiving messages from a group you are currently in</div>
        <div class="clear"></div>

        <div class="command_name">#block <br/> #unblock</div>
        <div class="command_description">(Admin only) Block or unblock someone <br/>from your group <br/> usage: #block John -or- #block 07111 111 111</div>
        <div class="clear"></div>

        

        
      </div>
    </div>
  </div>
