


<%= flash[:notice] %>

<div class="main_group_heading">
  My Groups
</div>

<div class="left">
  <%= render :partial => "/user_group/list_groups" %>
</div>
<div class="right">
  <%= render :partial => "/user_group/using_group_chat" %>
</div>
<div class="clear"></div>

