
<div style="background-color:#DDDDDD;">
  <h1><%=@title %></h1>

  <p>
  <%=@attraction%>
</p>

</div>

<div>
<%=@message %>
</div>

 <p>
   <a href="<%=@link%>">sign up</a> for our exclusive offers.
    </p>

    <p>Thanks for joining and have a great day!</p>