<div class="field">

  <%if @merchants != nil && @merchants.count > 0%>
    <%=  label_tag "Merchants" %><br />
    <div style="width:300px;height:200px;overflow:auto">
      <%@merchants.each do |merchant|%>
      <input type="checkbox" name="administration_merchant_contact[][merchant_id]" id="administration_merchant_contact_merchant_id" value="<%=merchant.id%>"  <%if @merchant_contact != nil && @merchant_contact.include?(Administration::MerchantContact.find(:first,:conditions =>{:contact_id=>@administration_contact.id,:merchant_id => merchant.id}))%>checked="checked" <%end%>/> <%=merchant.name%><br/>
      <%end%>
    </div>

    <%end%>
  </div>

