<div id="help_popup">
<div id="chat_help_box">
  <div id="left_content">
    <div id="heading">
      <%=image_tag "help_sub_using_group_chat.png"%>
    </div>
    
      <p>Alex and John are using Group Chat to plan their lunch.</p>
      <p>John has also invited his friend Sam to join them.</p>
      <p>Sam is sent a link to sign up for the offer, and now they can all chat with each other just by texting one number.</p>

  </div>
  <div id="right_content">
    <%=image_tag "groupchat_iphone.png"%>
  </div>
  
</div>
</div>