<div style="width:60%;">
<div class="curve-box-top-bg"><div class="curve-box-top-lft"><div class="curve-box-top-rgt"><!-- --></div></div></div>
  <div class="border-box">
    <div class="bb-padd">
     <div>
      <div class="login-register-box">
        <div class="title">Password Reset Request</div>



        <p>Enter your email address, we will send a password reset link email to your email address.</p>
        <div class="wid-100-per">
          <%if flash[:notice] %>
          <span style="color:red; margin-left: 40%">  <%=flash[:notice]%></span>
           <%flash[:notice] = nil%>
          <%end%>
          <% form_for :users, :url => {:action => 'forgot_password'} do |form| %>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="40%"><b>Email Address:</b></td>
                <td>
                  <%= form.text_field :email, :size => 35, :class => 'input-field' %>
                </td>
              </tr>
              <tr>
                  <td colspan="2" align="right"><div style="padding-right:15px;"><%=form.submit "Send"%></div></td>
              </tr>
            </table>
          <%end%>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="curve-box-bot-bg"><div class="curve-box-bot-lft"><div class="curve-box-bot-rgt"><!-- --></div></div></div>

</div>
