

      <%= flash[:notice] %>


     <div class="box">
     <div class="content">
      <div class="heading">
        About Ultra
      </div>
       <p>
         Ultra is a FREE service bringing you hand-picked packages from premium local services in Central London every week. We take your privacy very seriously and will never sell your details to third parties.

       </p>
       <p>
         <%=link_to "Learn more" %>
       </p>
     </div>
  </div>
