 Premium experiences are best when shared. So
spread the word - your friends deserve it. <br/><br/>
<div id="hrline"></div>
<div class="clear"></div><br/>
<div class="share_left">
 <a href="JAVASCRIPT:" onclick="window.open(' http://www.facebook.com','Facebook Share','width=550,height=400,0,status=0')"> <%=image_tag "share_fb.png" %> Share to Facebook </a>
</div>
<div class="share_right">
  <a href="JAVASCRIPT:" onclick="window.open(' http://www.twitter.com','Share to Twitter','width=550,height=400,0,status=0')"><%=image_tag "share_twitter.png" %> Share to Twitter</a>
</div>
<div class="clear"></div>
<div class="share_left">
  <a href="Javascript:" style="text-decoration:none;" onclick="clearFriendShareErrors();"> <%=image_tag "share_envelope.png" %> Tell a Friend </a>
</div>
<div class="clear"></div>

